# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# 非源代码数据
MFCApplication2/.vs
MFCApplication2/MFCApplication2/Debug
MFCApplication2/MFCApplication2/x64/Debug
MFCApplication2/Debug
MFCApplication2/x64/Debug